/* Réinitialisation de la marge et du padding par défaut */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style pour le formulaire */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les étiquettes des champs */
label {
    font-weight: bold;
}

/* Style pour les champs de texte et les boutons */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="radio"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style pour le bouton de soumission */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Style pour le pied de page */
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #333;
    color: #fff;
}
